opencv-python-headless
matplotlib
mediapipe
numpy
pandas
plotly
scipy
scikit-learn
seaborn
statsmodels
tqdm
phonlab @ git+https://github.com/rsprouse/phonlab
audiolabel @ git+https://github.com/rsprouse/audiolabel